<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirakishou.fixmypc.photoexchange">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kirakishou.photoexchange.PhotoExchangeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PhotoExchangeTheme">
        <activity android:name="com.kirakishou.photoexchange.ui.activity.TakePhotoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.kirakishou.photoexchange.helper.service.UploadPhotoService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.kirakishou.photoexchange.ui.activity.ViewTakenPhotoActivity" />
        <activity android:name="com.kirakishou.photoexchange.ui.activity.AllPhotosViewActivity" />

        <service
            android:name="com.kirakishou.photoexchange.helper.service.FindPhotoAnswerService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>