<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirakishou.fixmypc.photoexchange">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.kirakishou.photoexchange.PhotoExchangeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PhotoExchangeTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.kirakishou.photoexchange.ui.activity.PhotosActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kirakishou.photoexchange.ui.activity.TakePhotoActivity" />
        <activity android:name="com.kirakishou.photoexchange.ui.activity.ViewTakenPhotoActivity" />
        <activity android:name="com.kirakishou.photoexchange.ui.activity.SettingsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="25e246425284f02064665b2dc30323200c19a724" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGVBH_OihoUtvM-VCqQKOvcp5n_3kUs1U" />

        <service
            android:name="com.kirakishou.photoexchange.service.UploadPhotoService"
            android:exported="false" />
        <service
            android:name="com.kirakishou.photoexchange.service.ReceivePhotosService"
            android:exported="false" />

        <service android:name="com.kirakishou.photoexchange.service.PushNotificationReceiverService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>